.Recipe {
  margin: 5px;
}

.Recipe-Name {
  height: 25pt;
  padding-top: 7px;
  padding-left: 6px;
  border-radius: 3px;
}

.Recipe .btn-toolbar {
  margin-left: 10px;
  margin-top: 6px;
}

.Recipe .btn {
  width: 100px;
}
